.im-input-moment {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  user-select: none;
  .options {
    width: 100%;
    height: 40px;
    display: inline-block;
    button {
      float: left;
      width: 50%;
      color: #3F51B5;
      background: 0 0;
      text-align: center;
      font-size: 20px;
      padding: 10px;
      border: 1px solid #3F51B5;
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.is-active {
        color: #fff;
        background-color: #3F51B5;
      }
    }
  }
  .tab-component {
    display: none;
    height: calc(100% - 40px);
    &.is-active {
      display: block;
    }
  }
}

.im-big-input-moment {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  user-select: none;
  .date-wrapper {
    width: 100%;
    height: 70%;
  }
  .time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
  }
}

.im-date-picker {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .toolbar {
    height: 40px;
    line-height: 30px;
    color: #3F51B5;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    .current-date {
      display: inline-block;
      width: 68%;
      cursor: pointer;
      font-size: 26px;
      line-height: 40px;
      vertical-align: middle;
      text-decoration: underline;
    }
    .next-nav, .prev-nav {
      display: inline-block;
      width: 8%;
      cursor: pointer;
      font-size: 40px;
      vertical-align: middle;
    }
  }
  .next-month, .next-year, .prev-month, .prev-year {
    color: rgba(50, 50, 50, 0.2);
  }
  table {
    width: 100%;
    height: calc(100% - 40px);
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }
  td {
    text-align: center;
    cursor: pointer;
    color: #dfe0e4;
    font-size: 20px;
    &.current {
      background-color: #3F51B5;
      color: #fff;
      font-weight: 700;
    }
  }
  thead td {
    color: #3F51B5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
  tbody td {
    color: #666;
  }
}

.im-time-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 10px 10px 20px 10px;
  border: 1px solid #dfe0e4;
  box-sizing: border-box;
  .time-picker-wrapper {
    width: 100%;
    .showtime {
      text-align: center;
    }
    .separator {
      display: inline-block;
      font-size: 32px;
      font-weight: 700;
      color: #3F51B5;
      width: 32px;
      height: 65px;
      line-height: 65px;
      text-align: center;
    }
    .time-text {
      position: relative;
      left: -10px;
      font-size: 20px;
      color: #3F51B5;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .sliders {
      padding: 0 10px;
    }
    .time {
      width: 65px;
      height: 65px;
      display: inline-block;
      font-size: 38px;
      line-height: 65px;
      background-color: #3F51B5;
      border-radius: 3px;
      text-align: center;
    }
  }
}

.im-time-slider {
  width: 100%;
  color: #fff;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  .showtime {
    text-align: center;
  }
  .separator {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    color: #3F51B5;
    width: 32px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }
  .time-text {
    position: relative;
    left: -10px;
    font-size: 20px;
    color: #3F51B5;
  }
  .sliders {
    padding: 0 10px;
  }
  .time {
    width: 65px;
    height: 65px;
    display: inline-block;
    font-size: 38px;
    line-height: 65px;
    background-color: #3F51B5;
    border-radius: 3px;
    text-align: center;
  }
}

.im-slider {
  position: relative;
  display: inline-block;
  background-color: #dfe0e4;
  border-radius: 3px;
  height: 4px;
  width: 100%;
  cursor: pointer;
  .value {
    position: absolute;
    background-color: #3F51B5;
    border-radius: 3px;
    top: 0;
    height: 100%;
  }
  .handle {
    position: absolute;
    width: 4px;
    height: 4px;
    &:after {
      position: relative;
      display: block;
      content: '';
      top: -10px;
      left: -12px;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border: 3px solid #3F51B5;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.im-btn {
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1;
  &:before {
    margin-right: 6px;
  }
}