.add-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    max-width: 500px;
    min-width: 250px;

    .add-form-footer {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: 450px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;

            @media only screen and (max-width: 450px) {
                margin: 10px 0 10px 0;
            }

            i {
                transition: color 0.5s ease;
            }
            i:hover {
                color: #3f51b5;
            }

            p {
                margin-top: 5px;
            }
        }
    }
}

.filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 250px;
    margin: 10px 0 10px 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    min-height: 100px;

    .fields {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .title-field {
            width: 30%;
            margin-right: 10px;
        }

        .textarea-field {
            width: 70%;
            margin-right: 10px;
        }
    }

    .task-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 330px;

        .info {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
        }
    }

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .fields {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .title-field {
                width: 90%;
            }

            .textarea-field {
                width: 90%;
            }
        }

        .task-footer {
            display: flex;
            justify-content: space-around;
            width: 100%;
            min-width: 320px;
        }
    }

    @media only screen and (max-width: 450px) {
        .task-footer {
            display: flex;
            flex-direction: column;
            min-width: 250px;

            .buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 5px;
            }
        }
    }
}
